.posts_container{
    display: grid;
    /* grid-template-rows: 45vmin; */
    grid-template-columns: repeat(auto-fill, 40vmin);
    grid-gap: 5vmin;
    justify-content: center;
    margin: 3vmin 0;
}

h1, h2, h3{
    font-weight: 100;
    margin: 0;
}